<div class="navbar bg-base-100">
  <a href="/" class="btn btn-ghost text-xl">Climate Solutions</a>
  <a href="/solutions/projects" class="btn btn-ghost <%= page == "/solutions/projects" ? 'active' : '' %>">View Projects</a>
  <a href="/about" class="btn btn-ghost <%= page == "/about" ? 'active' : '' %>">About</a>
</div>
